body {
    margin-top: 0px; /* Required margin for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
font-family: 'Quicksand', sans-serif;
}

/* Header Image Background - Change the URL below to your image path (example: ../images/background.jpg) */

.full {
    background: url('../img/bg-1.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.header{
	margin-top: 15px;
}

.logo{
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #29296d;
	border-radius: 50%;
	width: 100px;
	height: 100px;
	margin-left: 115px;
}
.logo-login{
	background-color: #29296d;
}

.logo img{
	margin-top: 25px;
}
.menu a{
	color: white;
	font-family: 'Poppins', sans-serif;
}

.menu li{
	display: inline;
	float: right;
	padding: 0 10px 0 10px;
}

.menu {
	float: left;
	margin-top: 30px;

}

.content{

}

.image{

}

.warp-content-data{
	text-align: center;
	padding-bottom: 100px;
}

@media(min-width: 1200px){	
	.header-content,
	.content-data{
		border-right: 1px #ffffff solid;
		color:white;
	}
	.warp-content-data{
		text-align: right;
	}
	.wrap-button{
		border-right: 1px #ffffff solid;
	}
	.logo{
		margin-left: 46px;
	}

}

.footer{
	/*border-top: 1px solid #ffffff;*/
}

.effect-border-style{
	box-shadow: 0px 3px 5px #111A89;
}

.content-footer{
	margin-top: 10px;
	font-size: 8pt;
	color: white;
}
.button-store-1, .button-store-2{
	background-color: red;
	border-radius: 50px;
}


.margin-top-edit{
	padding-bottom: 80px;
}

.btn {
	font-size: 9pt;
	background: transparent;
    
	border-radius: 4px;
	color: white;
}

.btn-login{
	/*background-color: #074999;*/
	/*border: 2px solid #111A89;*/
	
}

.btn-login {
		padding-left: 20px;
		padding-right: 20px;
		background-color: #0C1330;
	}

.btn-login:active {
		color: white;
	}
.btn-login:focus {
		color: white;
	}

.btn-one{
	border-left: 1px solid #ffffff;
}

.btn-login:hover{
	background-color: #152060;
	color: white;
	/*border: 2px solid #0717E5;*/

}

.btn-sign-in{
	border: 1px solid #ffffff;
}
.btn-sign-in:hover{
	color: white;
	background-color: #2E4CCC;
}

.btn-sign-in{
	/*border: none !important;*/
}

.form-login{
	margin-top: 25px;
	background-color: white;
	border-radius: 4px;
}

/****** LOGIN MODAL ******/
.loginmodal-container {
  padding: 30px;
  max-width: 350px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  margin-top: 100px;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.loginmodal-container h1 {
  text-align: center;
  font-size: 1.8em;
}

.loginmodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.loginmodal-container input[type=text], input[type=password],input[type=email], input[type=text] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
/* border-radius: 3px; */
/* -webkit-user-select: none;
  user-select: none; */
}

.loginmodal-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1); 
  background-color: #4d90fe;
  padding: 17px 0px;
  font-size: 14px;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.loginmodal-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  /*opacity: 0.6;*/
  transition: opacity ease 0.5s;
} 

.login-help{
  font-size: 12px;
}

@media (min-width: 992px) and (max-width: 1199px) {
		.logo{
			margin-left: 500px;
		}
}
.error{
	color: red;
}
.btn-primary{
	border: 0px;
	color: #fff;
	text-shadow: 0 1px rgba(0,0,0,0.1); 
	background-color: #4d90fe !important;
	padding: 17px 0px;
	font-size: 14px;
}

.btn-primary:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8 !important;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}